@media screen and (min-width: 825px) {
  :root {
    --background: #0a0a0a;
    --surface: #111111;
    --border: #292929;

    --primary: #ffb800;
    --primary-hover: #ffaa00;

    --text: #ffffff;
    --text-secondary: #b3b3b3;

    --whatsapp: #25d366;
    --danger: #ff3b30;
  }

  header {
    display: flex;
    align-items: center;
  }

  #burguer {
    display: none;
  }

  nav {
    height: 50px;
    margin: auto;
  }

  nav#menu-mobile {
    display: block;
  }

  nav#menu-mobile > ul {
    display: flex;
    justify-content: center;
  }

  nav#menu-mobile > ul > li {
    text-align: center;
    background-color: transparent;

    border-radius: 0px;
    margin-bottom: 0px;

    width: 100%;
    padding: 8px;
    margin-right: 10px;

    cursor: pointer;
  }

  .background-principal {
    height: 100vh;
  }

  #carrinho-menu {
    display: none;
  }

  #carrinho {
    display: block;
    color: white;
    border: 1px solid var(--primary);
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    margin-left: auto;
  }

  #carrinho:hover {
    background-color: var(--primary);
    transform: scale(1.2);
    transition: 300ms;
  }

  nav > ul > li:hover {
    border-bottom: 2px solid var(--primary-hover);
    transform: scale(1.1);
    transition: 300ms;
  }

  nav#menu-mobile > ul > li:hover {
    background-color: transparent;
  }

  .background-principal {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.95)),
      url("../imagens/background-lanche.png") no-repeat;

    background-size: cover;
    background-position: center center;
    min-width: 100vh;
  }

  .informacoes-principais-container > div > h1 {
    color: var(--text);
    margin-bottom: 15px;
    font-size: 3rem;
  }

  .informacoes-principais-container > div > p {
    display: block;
    width: 500px;
  }

  #button-principais {
    display: flex;
  }

  #verCardapio,
  #WhatsApp {
    letter-spacing: 1.3px;
    margin-bottom: 15px;
    margin-right: 20px;

    align-items: center;
    letter-spacing: 1.3px;
  }

  #WhatsApp {
    padding: 20px;
  }

  .informacoes-estabelecimento {
    display: flex;
  }

  /* 
========================
 informacoes-categoria
========================
*/

  #informacoes-categoria {
    background-color: var(--background);
    margin: 0px 20px;
  }

  #categorias {
    text-align: center;
  }

  #categorias > h2 {
    color: white;
    font-size: 2rem;
  }

  .galeria > div {
    display: block;
    border: 2px solid var(--border);
    border-radius: 10px;
    padding: 20px;
  }

  .galeria > div > a {
    padding: 0px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .galeria > div > a > img {
    width: 100%;
  }

  .Pedidos {
    margin: 50px;
  }

  /* 
========================
 Os Mais Pedidos
========================
*/

  #mais-pedidos {
    margin: auto;
  }

  #mais-pedidos h2 {
    text-align: left;
    color: var(--text);
    margin: 20px 20px;
  }

  .mais-pedidos-div {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .mais-pedidos-div > div {
    display: inline-block;
    flex: 1 1 200px;
    margin: 0px;
    padding-bottom: 10px;
  }
  

  .mais-pedidos-div > div > h3 {
    padding: 8px;
    text-align: left;
    color: var(--text);
  }

  .mais-pedidos-div > div > p {
    font-size: 15px;
    text-align: left;
    padding-right: 30px;
  }

  .valores {
    display: block;
    margin-bottom: auto;
  }

  .valores-menor > span {
    display: flex;
    font-weight: bold;
    text-align: left;
    align-items: center;
    color: var(--text);
    font-size: clamp(1.2rem, 1.5vw, 1.3rem);
  }

  .valores-menor > input {
    background-color: var(--primary);
    display: flex;
    align-items: center;

   
    padding: 2px 15px;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
  }

  /* 
========================
      Avaliações
========================
*/

#avaliacoes > div {
  display: flex;
  padding: 25px;
}

#avaliacoes > h2 {
  display: block;
  padding-top: 30px;
  padding-bottom: 25px;
  text-align: center;
  color: var(--text);
}

#avaliacoes-container > div {
  display: block;
  width: 400px;

  margin-left: 20px;

  border-radius: 10px;
  border: 1px solid var(--border);
  margin-bottom: 10px;
  padding: 20px;
}

#avaliacoes-container > div > span {
  color: var(--text);
}

#avaliacoes-container > div > p {
  color: var(--text-secondary);
  text-shadow: 2px 2px 2px var(--border);
  margin-top: 10px;
}

/* 
========================
      Footer
========================
*/

footer {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}

footer > div {
  width: 300px;
}
}
