@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #0a0a0a;
  --surface: #111111;
  --border: #292929;

  --primary: #eeab01;
  --primary-hover: #ffaa00;

  --text: #ffffff;
  --text-secondary: #b3b3b3;

  --whatsapp: #25d366;
  --danger: #ff3b30;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
}

header {
  background-color: var(--background);
  border-bottom: 2px solid var(--border);
}

header > div {
  display: flex;
  justify-content: space-between;
}

#burguer {
  margin-left: auto;
}

#carrinho {
  display: none;
}

#carrinho-menu {
  color: white;
  border: 1px solid var(--primary);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  margin-left: auto;
}

#carrinho-menu:hover {
  background-color: var(--primary);
  transform: scale(1.1);
  transition: 300ms;
}

i#burguer {
  color: white;
  margin: 20px;
  cursor: pointer;
}

nav {
  text-align: center;
  display: flex;
}

#menu-mobile {
  display: none;
}

nav#menu-mobile > ul {
  display: inline-block;
  padding: 10px;
  list-style: none;
  columns: 2;
}

nav#menu-mobile > ul > li {
  border-radius: 20px;
  background-color: var(--primary);
  margin-bottom: 8px;
  padding: 10px 30px;
  cursor: pointer;
}

nav#menu-mobile > ul > li:hover {
  background-color: var(--primary-hover);
}

nav#menu-mobile a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

img {
  width: 100px;
}

/* 
====================
  imagem-principal
====================  
*/

main {
  color: wheat;
  background-color: var(--background);
}

.background-principal {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.95)),
    url("../imagens/background-lanche.png") no-repeat;
  height: 100%;

  background-size: cover;
  background-position: center center;
  display: flex;
}

.informacoes-principais-container {
  margin: auto;
  align-items: center;
  display: flex;
}

.informacoes-principais-container > div {
  padding-top: 30px;
}

.informacoes-principais-container > div > h1 {
  color: var(--text);
  margin-bottom: 15px;
  font-size: 1.8rem;
}

.color-yellow {
  color: var(--primary);
}

.informacoes-principais-container > div > p {
  text-shadow: 2px 2px 2px black;
  display: block;
  width: 250px;
  color: var(--text);
  margin-bottom: 20px;
}

#button-principais {
  margin-bottom: 35px;
}

#verCardapio,
#WhatsApp {
  display: flex;
  border: none;

  align-items: center;
  border-radius: 10px;
  padding: 15px 20px;
  letter-spacing: 1.3px;
  margin-bottom: 20px;

  cursor: pointer;
}

#WhatsApp:hover {
  background-color: rgb(0, 163, 0);
}

#verCardapio:hover {
  background-color: var(--primary-hover);
}

#verCardapio {
  background-color: var(--primary);
  color: var(--surface);
  font-weight: bolder;
  font-size: 16px;
}

#verCardapio > span {
  margin-right: 10px;
}

#WhatsApp > i {
  margin-right: 10px;
}

#WhatsApp {
  background-color: var(--whatsapp);
  color: var(--text);
  font-weight: bolder;
  font-size: 16px;
}

.informacoes-estabelecimento {
  margin-top: 15px;
  margin-bottom: 30px;
} 

.estabelecimento > span {
  color: var(--text);
  font-weight: bold;
}

#compras-icon {
  color: var(--primary);
}

.estabelecimento > p {
  color: var(--text-secondary);
  text-shadow: 1px 1px 2px black;
  padding-top: 5px;
}

.estabelecimento {
  margin: auto;
  border: 1.5px solid rgba(255, 255, 255, 0.425);
  width: 260px;
  padding: 20px;
}

/* 
========================
 informacoes-categoria
========================
*/

article {
  background-color: var(--surface);
}

#informacoes-categoria {
  background-color: var(--background);
  
  margin: auto;
}

.pedidos-conteudo {
  background-color: var(--surface);
  border-bottom: 2px solid var(--border);
  border-radius: 10px 15px 0px 0px;
  padding: 20px;
  text-align: center;
}

.pedidos-conteudo > h2 {
  color: white;
  margin: 20px 0px;
  font-size: 2rem;
}

.galeria {
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;

  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  padding: 20px 0;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.galeria > div {
  display: flex;
  margin: auto;
}

.galeria > div > a {
  margin: auto;
  flex: 0 0 120px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.galeria > div > a > img {
  display: flex;
  height: auto;
}

.galeria::-webkit-scrollbar {
  height: 8px;
}

.galeria::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 10px;
}

.galeria::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.galeria::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.galeria > div:hover {
  border: 1px solid var(--primary-hover);
}

.Pedidos {
  margin: 50px;
}

/* 
========================
      Avaliações
========================
*/

#avaliacoes {
  padding-bottom: 30px;
}

#avaliacoes > h2 {
  padding-top: 30px;
  padding-bottom: 25px;
  text-align: center;
  color: var(--text);
}

#avaliacoes-container > div {
  margin: 20px;
  border-radius: 10px;
  border: 1px solid var(--border);
  margin-bottom: 10px;
  padding: 20px;
}

#avaliacoes-container > div > span {
  color: var(--text);
}

#avaliacoes-container > div > p {
  color: var(--text-secondary);
  text-shadow: 2px 2px 2px var(--border);
  margin-top: 10px;
}

/* 
========================
      Footer
========================
*/

footer {
  border: 1px solid var(--border);
  margin: 0px;
  padding: 25px;
  padding-bottom: 0px;
  color: white;
}

footer > div {
  margin-top: 10px;
  margin-bottom: 15px;
}

footer > div > a  {
  text-decoration: none;
  margin-top: 20px;
  margin-right: 10px;
  width: 100px;
}

#instagram-icon {
  margin-top: 30px;
  font-size: 25px;

  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5);
 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#tiktok-icon {
  padding-top: 30px;
  color: white;
  font-size: 25px;
}

#WhatsApp-icon {
  padding-top: 30px;
  color: var(--whatsapp);
  font-size: 25px;
}

footer > ul {
  list-style: none;
  margin-bottom: 20px;
}

footer > ul > li > a {
  text-decoration: none;
  color: var(--text-secondary);
}

footer > ul > li > a:hover {
  color: var(--primary-hover);
}

footer > ul > h3 {
  margin-bottom: 8px;
}

footer > ul > li {
  margin-left: 10px;
  padding: 5px;
}


footer > ul > p {
  margin-left: 10px;
}

footer > ul > img {
  width: 200px;
}

.localizacao-info > li {
  margin-bottom: 15px;
}

#localizacao-icon {
  color: var(--danger);
}

#telefone-icon {
  color: var(--primary);
}

/*
====================
    CARRINHO
====================
*/

.carrinho_lista {
    position: fixed;
    z-index: 1000;

    top: 0;
    right: 0;

    width: 350px;
    height: 100vh;

    box-sizing: border-box;
    padding: 20px;

    background-color: var(--surface);

    display: flex;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform 0.3s ease;

    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
}

.carrinho_lista.aberto {
    transform: translateX(0);
}

#fechar-carrinho {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 50%;

    background-color: transparent;
    color: white;

    cursor: pointer;
}

#fechar-carrinho:hover {
    background-color: var(--);
}


/* Fundo escuro atrás do carrinho */
#overlay {
    position: fixed;
    z-index: 1000;

    inset: 0;

    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease;
}

#overlay.aberto {
    opacity: 1;
    visibility: visible;
}

.carrinho_lista > h1 {
  color: var(--text);
}

#msg_carrinho {
    background-color: var(--background);
    border-radius: 20px;
    margin-top: 15px;
    width: 100%;
    height: 100px;
}

#finalizar_pedidos {
    margin-top: auto;
    text-align: center;
}

.subtotal {
    color: var(--text);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn_finalizarPedido {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    border: 0;
    background-color: var(--primary);
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}



